<h1 class="text-center"><i class="fa fa-github" aria-hidden="true"></i> GitHub Projects</h1>
<hr>
<div class="row">
    <div class="col-md-4 my-2" *ngFor="let repo of repos$ | async">
        <div class="card border-light shadow-sm h-100">
            <div class="card-body">
                <h4 class="card-title"><a [href]="repo.html_url" target="_blank">{{repo.name}}</a></h4>
                <p class="card-text">{{repo.description}}</p>
                <div class="d-flex justify-content-between my-2">
                    <span class="badge badge-info"><i class="fa fa-language" aria-hidden="true"></i>
                        {{repo.language}}</span>
                    <span class="badge badge-light"><i class="fa fa-calendar" aria-hidden="true"></i>
                        {{repo.updated_at | date}}</span>
                </div>
                <a class="badge badge-light" *ngIf="repo.homepage" [href]="repo.homepage" target="_blank"> <i class="fa fa-globe"
                        aria-hidden="true"></i> {{repo.homepage}}</a>

                <div class="d-flex justify-content-between ">
                    <span>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        {{repo.stargazers_count}}
                    </span>
                    <span>
                        <i class="fa fa-code-fork" aria-hidden="true"></i>
                        {{repo.forks_count}}
                    </span>
                    <span>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        {{repo.watchers_count}}
                    </span>
                </div>
                <div>
                    <a type="button" class="btn btn-primary" [routerLink]="['/github-repos', repo.name]">Show Details</a>
                </div>
            </div>
        </div>
    </div>
</div>